button{
    margin: 10px;
    width: 240px;
    height: 150px;
}

div{
    text-align: center;
}

body{
    overflow: hidden;
}

.buttons{
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 100vw;
    text-align: center;
}
.button{
    height: 50%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}