{% extends "myapp/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">{% endblock %}

{% block header-title %}<div class="title">ログイン</div>{% endblock %}
{% block active_login %}active{% endblock %}

{% block content %}
<div class="form">
    <form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% bootstrap_form form%}
    {% bootstrap_button button_type="submit" content="ログイン" %}
    <p><a href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
    {% if redirect_field_value%}
    <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/> 
    {% endif %}
</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}