{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">{% endblock %}

{% block header-title %}ログイン{% endblock %}
{% block active_login %}active{% endblock %}

{% block content %}
<form method="post" action="{% url 'account_login' %}">
{% csrf_token %}

{{form.as_p}}

{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

<button type="submit">ログイン</button>
<p><a href="{% url 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
{% endblock %}

{% block footer %}
{% endblock %}