{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">{% endblock %}

{% block header-title %}パスワードリセット済み{% endblock %}



{% block content %}
<div class="txt">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <h3>パスワードリセット用のメールを送信しました。</h3>
    <button onclick="location.href='{% url 'index' %}'">メイン画面</button><br>
</div>
{% endblock %}

{% block footer %}
{% endblock %}