{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/.css' %}">{% endblock %}

{% block header-title %}パスワードリセット{% endblock %}



{% block content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>パスワードリセット用メールを送信します。</p>

<form method="post" action="{% url 'account_reset_password' %}">
{% csrf_token %}

{{ form.as_p }}

<button type="submit">送信</button>
</form>
{% endblock %}

{% block footer %}
{% endblock %}