{% extends "myapp/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/change_page.css' %}">{% endblock %}

{% block header-title %}パスワードリセット{% endblock %}



{% block content %}
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<div class="form">
    
<form method="post" action="{% url 'account_reset_password' %}">
<h5>パスワードリセット用メールを送信します。</h5>
{% csrf_token %}

{% bootstrap_form form%}

{% bootstrap_button type="submit" content="送信"%}
</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}