{% extends "myapp/base.html" %}

{% load static %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}">{% endblock %}

{% block header %}
    <header class="header">
        <div class="header-container">
            {% csrf_token %}
            {% for item in me %}
            <div class="self">
                <img src="/media/{{item.file}}" class="my_icon">
                <div class="me">
                    <h3>{{ item.username }}<h3>
                    <h3>{{ item.email }}<h3>
                </div>
            </div>
            {% endfor %}
            <span class="header-container__title">
                {% block header-title %}友達一覧{% endblock %}
            </span>
        </div>
    </header>
{% endblock %}
<div class="search">
    <input type="text" placeholder="ユーザー名で検索">
    <button>検索</button>
</div>

{% block content %}
<form action="{% url 'friends'%}" method="post" class="search">
    {% csrf_token %}
    <div class="form">{{form.as_p}}</div>
    <input type="submit" class="submit">
</form>
{% csrf_token %}
{% for item in data %}
<div onclick="location.href='{% url 'talk_room' item.pk %}'"  class="user" method="POST" type="submit">
    <div class="icon_box"><img src="/media/{{item.file}}" class="icon"></div>
    <div class="infomation">
        <p class="username">{{ item.username }}<p>
        <p>{{ item.email }}<p>
    </div>
</div>
{% endfor %}
{% endblock %}

<!-- {% for item in object_list %}
<div onclick="location.href='{% url 'talk_room' item.pk %}'"  class="user" method="POST" type="submit">
    <div class="icon_box"><img src="/media/{{item.file}}" class="icon"></div>
    <div class="infomation">
        <p class="username">{{ item.username }}<p>
        <p>{{ item.email }}<p>
    </div>
</div>
{% endfor %} -->


