{% extends "myapp/base.html" %}

{% load static %}
{% load django_bootstrap5 %}
{% block extra_style %}
<link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}">{% endblock %}

{% block header %}
<header class="header">
    <div class="header-container">
        {% csrf_token %}
        {% for item in me %}
        <div class="self">
            {% if item.file %}
            <img src="/media/{{item.file}}" class="my_icon">
            {% else %}
            <img src="/media/default.png" class="my_icon">
            {% endif %}
            <div class="me">
                <h6>{{ item.username }}<h6>
                        <h6>{{ item.email }}<h6>
            </div>
        </div>
        {% endfor %}
        <span class="header-container__title">
            {% block header-title %}<div class="title">友達一覧</div>{% endblock %}
        </span>
    </div>
    <div class="search">
        <form action="{% url 'friends'%}" method="post">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
        </form>
    </div>
</header>
{% endblock %}


{% block content %}
<div class="cn">
    {% csrf_token %}
    {% for item in data %}
    <div onclick="location.href='{% url 'talk_room' item.pk %}'" class="user" method="POST" type="submit">
        {% if item.file %}
        <div class="icon_box"><img src="/media/{{item.file}}" class="icon"></div>
        {% else %}
        <div class="icon_box"><img src="/media/default.png" class="icon"></div>
        {% endif %}
        <div class="infomation">
            <p class="username">{{ item.username }}
            <p>
            <p class="detail">{{ item.email }}
            <p>
            <p class="detail">{{item.latest_msg}}
            <div class="time">{{item.latest_msg_time}}</div>
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}