<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
        {% load static%}
        <link rel="stylesheet" href="{% static 'myapp/css/index.css' %}">
    </head>
    <body>
        <header>
            <div>
                <h1>メイン画面</h1>
                <hr>
            </div>
        </header>
        <div>
            <button onclick="location.href='{% url 'login_view' %}'">ログイン</button><br>
            <button onclick="location.href='{% url 'signup_view'%}'">会員登録</button>
        </div>       
    </body>
</html>



