{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/change_page.css' %}">{% endblock %}
{% block header-title %}{% endblock %}
{% block content %}
<div class="buttons">
    <button onclick="location.href='{% url 'username_change' %}'">ユーザーネーム変更</button><br>
    <button onclick="location.href='{% url 'address_change'%}'">メールアドレス変更</button>
    <button onclick="location.href='{% url 'icon_change'%}'">メールアドレス変更</button>
    <button onclick="location.href='{% url 'password_change'%}'">メールアドレス変更</button>
    <button onclick="location.href='{% url 'logout'%}'">ログアウト</button>
</div> 
{% endblock %}