{% extends "myapp/base.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/change_page.css' %}">{% endblock %}
{% block header-title %}パスワード変更{% endblock %}
{% block content %}
<div class="form">
<form method="POST" action="{% url 'password_change' %}">
    {% csrf_token %}
    {% bootstrap_form form%}
    {% bootstrap_button type="submit" content="変更"%}
</form>
{% for error in form.non_field_errors %}
    {{ error }}
{% endfor %}
</div>
{% endblock %}