{% extends "myapp/base.html" %}
{% load static %}
{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/setting.css' %}">{% endblock %}
{% block header-title %}設定{% endblock %}
{% block content %}
<div class="buttons">
    <button onclick="location.href='{% url 'username_change' %}'" class="change_buttons">ユーザーネーム変更</button>
    <button onclick="location.href='{% url 'address_change'%}'" class="change_buttons">メールアドレス変更</button>
    <button onclick="location.href='{% url 'icon_change'%}'" class="change_buttons">アイコン変更</button>
    <button onclick="location.href='{% url 'password_change'%}'" class="change_buttons">パスワード変更</button>
    <button onclick="location.href='{% url 'logout'%}'" class="change_buttons">ログアウト</button>
</div> 
{% endblock %}