<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Signup</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'myapp/css/signup.css' %}">
    </head>
    <body>
        <header>
            <h1>会員登録</h1>
            <hr>
        </header>
        <form action="{% url 'signup_view' %}" method="post" enctype = "multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">新規登録</button>
        </form>
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </body>
</html>

<!--
<form action="{% url 'index' %}" method="post">
    {% csrf_token %} 
        <label>Username:<input type="text"></label><br>
        <label>Email address:<input type="text"></label><br>
        <label>Password:<input type="text"></label><br>
        <label>Password confirmation:<input type="text"></label><br>
        <label>Img:<input type="file"></label><br>
        <label><input type="submit">
</form>
-->